<li>
    <%= gravatar_for user, size: Settings.gravatar.options_index_size %>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !is_current_user?(user) %>
      | <%= link_to t(".delete"), user, method: :delete,
                                  data:{confirm: t(".confirm")} %>
    <% end %>
</li>
